{% include "base_ink.html" %}

{% block personales %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <body>

{% load static %}
{% load humanize %} 
{% load perfil %}
 
  <!-- Main Page Content and Sidebar -->
  
<div class="ink-grid">
    {% include 'menu_perfil.html' %}

    <div class="space">
        {% if mensaje %}
            <div class="ink-alert basic {{ tipo_mensaje }}">
                <button class="ink-dismiss" id="cerrar">&times;</button>
                <p>{{ mensaje }}</p>
            </div>
        {% endif %}
        <div class="column-group gutters">
            <div class="large-30 medium-100 small-100 push-left">
                {% include "perfil/informacion_personal.html" %}
            </div>
            <div class="large-70 medium-100 small-100 push-right">
                <div class="box">
                    <section id="aspirantes">
                        <h4><div class="ink-titulo_superior"><i class="icon-check-minus"></i> Aspirantes a auditores</div></h4>
                        {% if aspirantes %}
                            <form class="ink-form" method="post">{% csrf_token %}
                            <div class="column-group push-center">
                                <nav class="ink-navigation">
                                    <ul class="pagination shadowed rounded blue push-right small">
                                    {% if aspirantes.has_previous %}
                                        <li class="previous"><a href="?page={{ aspirantes.previous_page_number }}">Anterior</a></li>
                                    {% else %}
                                        <li class="previous disabled"><a href="#">Anterior</a></li>
                                    {% endif %}

                                    <li>
                                        <a href="#">{{ aspirantes.number }}/{{ aspirantes.paginator.num_pages }}</a>
                                    </li>

                                    {% if aspirantes.has_next %}
                                        <li class="next"><a href="?page={{ aspirantes.next_page_number }}">Sigueinte</a></li>
                                    {% else %}
                                        <li class="next disabled"><a href="#">Sigueinte</a></li>
                                    {% endif %}
                                    </ul>
                                </nav>
                            </div>

                            <table class="ink-table hover" width="100%">
                                <tbody>
                                <thead class="small">
                                        <th>Cédula</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        {% if not aspirante.get_profile.entrevista_set.get_query_set.exists %}
                                            <th>Entrevista</th>
                                        {% endif %}
                                        {% if not aspirante.get_profile.evaluacion_set.get_query_set.exists %}
                                            <th>Evaluación</th>
                                        {% endif %}
                                </thead>
                                <tbody>
                                    {% for aspirante in aspirantes %}
                                    <tr align="center">
                                        <td>{{ aspirante.profile.persona.cedula }} 
                                        <td>{{ aspirante.profile.persona.primer_nombre }} {{ auditor.profile.persona.segundo_nombre }}</td>
                                        <td>{{ aspirante.profile.persona.primer_apellido }} {{ auditor.profile.persona.segundo_apellido }}</td>
                                            <td>
                                                {% ifnotequal aspirante.get_profile.cita_set.get_query_set.last.cita_fijada '' %}
                                                    {% if aspirante.id|puntaje_entrevistado %}
                                                        {{ aspirante.id|puntaje_entrevistado }}
                                                    {% else %}
                                                        <a href="{% url 'competencia' aspirante.id %}" class="ink-button blue">
                                                            <span class="tooltip ink-label" data-tip-text="Cargar calificaciones" data-tip-where="mousefix" data-tip-color="blue">
                                                                <i class="icon-file-text"></i>
                                                            </span>
                                                        </a>
                                                    {% endif %}
                                                {% else %}
                                                    Fije la cita
                                                {% endifnotequal %}
                                            </td>
                                            <td>
                                                {% ifnotequal aspirante.get_profile.cita_set.get_query_set.last.cita_fijada '' %}
                                                    {% if aspirante.get_profile.evaluacion_set.get_query_set.last.puntaje %}
                                                        {{ aspirante.get_profile.evaluacion_set.get_query_set.last.puntaje }}
                                                    {% else %}
                                                        <a href="{% url 'evaluacion' aspirante.id %}" class="ink-button blue">
                                                            <span class="tooltip ink-label" data-tip-text="Cargar calificaciones" data-tip-where="mousefix" data-tip-color="blue">
                                                                <i class="icon-book"></i>
                                                            </span>
                                                        </a>
                                                    {% endif %}
                                                {% else %}
                                                    Fije la cita
                                                {% endifnotequal %}
                                            </td>
                                            <td>
                                            {% ifnotequal aspirante.get_profile.cita_set.get_query_set.last.cita_fijada '' %}
                                                {% if aspirante.get_profile.evaluacion_set.get_query_set.exists %}
                                                    <a href="{% url 'acreditar' aspirante.id %}">Acreditar</a>
                                                {% else %}
                                                    Fije puntajes
                                                {% endif %}
                                            {% else %}
                                                <a href="{% url 'acreditar' aspirante.id %}">Fijar cita</a>
                                            {% endifnotequal %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </form>
                        {% else %}
                            <p>Por ahora no hay ningún aspirante al registro como auditor.<p>
                        {% endif %}
                    </section>
                </div>
                <div class="box">
                    <section id="auditores">
                        <h4><div class="ink-titulo_superior"><i class="icon-check"></i> Auditores registrados</div></h4>
                        <form class="ink-form" method="post">{% csrf_token %}
                        <div class="column-group push-center">
                            <nav class="ink-navigation">
                                <ul class="pagination shadowed rounded blue push-right small">
                                {% if auditores.has_previous %}
                                    <li class="previous"><a href="?page={{ auditores.previous_page_number }}">Anterior</a></li>
                                {% else %}
                                    <li class="previous disabled"><a href="#">Anterior</a></li>
                                {% endif %}

                                <li>
                                    <a href="#">{{ auditores.number }}/{{ auditores.paginator.num_pages }}</a>
                                </li>

                                {% if auditores.has_next %}
                                    <li class="next"><a href="?page={{ auditores.next_page_number }}">Sigueinte</a></li>
                                {% else %}
                                    <li class="next disabled"><a href="#">Sigueinte</a></li>
                                {% endif %}
                                </ul>
                            </nav>
                        </div>

                        <table class="ink-table hover" width="100%">
                            <thead class="small">
                                    <th>#</th>
                                    <th>Nombres</th>
                                    <th>Acreditado</th>
                                    <th>Vence en</th>
                                    <th>TLF</th>
                                    <th>Email</th>
                            </thead>
                            <tbody>
                                {% for auditor in auditores %}
                                <tr align="center">
                                    <td>{{ auditor.id }}</td>
                                    <td>{{ auditor.persona.primer_nombre }} {{ auditor.persona.primer_apellido }}</td>
                                    <td>{{ auditor.fecha_acreditacion|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>{{ auditor.fecha_desacreditacion|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>
                                        {% ifequal persona.tlf_contacto 'fijo' %}
                                            {{ persona.tlf_reside }}
                                        {% endifequal %}
                                        {% ifequal persona.tlf_contacto 'oficina' %}
                                            {{ persona.oficina }}
                                        {% endifequal %}
                                        {% ifequal persona.tlf_contacto 'movil' %}
                                            {{ persona.movil }}
                                        {% endifequal %}
                                    </td>
                                    <td>{{ auditor.persona.email|mail_antispam }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %} 

  </body>
</html>
{% endblock %}
