{% include "base_ink.html" %}
{% block personales %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <body>

{% load static %}
{% load humanize %} 
 
  <!-- Main Page Content and Sidebar -->
  
<div class="ink-grid">
    {% include 'menu_perfil.html' %}

    <div class="space">
        <form class="ink-form" method="POST">{% csrf_token %}
            <div class="box">
                <div class="column-group" style="background:white">
                    <div class="large-50 medium-100 small-100">
                        <div class="space">
                            {% if not form.errors %}
                                {% ifnotequal palabra_clave 'resetear' %}
                                    <h1><a>Sistema de Registros de Auditores</a></h1>
                                    Es el organismo encargado de coordinar e implementar el modelo jerárquico de la infraestructura Nacional de Certificación Electrónica, también acredita, supervisa y controla a los Proveedores de Servicios de Certificación (PSC) y es el ente responsable de la Autoridad de Certificación Raíz del Estado Venezolano. Así mismo tiene como alcance proveer estándares y herramientas para implementar una tecnología de información óptima en las empresas del sector público, a fin de obtener un mejor funcionamiento y proporcionar niveles de seguridad confiables.
                                {% else %}
                                    <h1><a>¿Olvidó su contraseña?</a></h1>
                                    Para poder recuperar su contraseña debe ingresar su correo electrónico. De esta forma le podremos enviar un enlace de reseteo de contraseña.
                                {% endifnotequal %}
                            {% else %}
                                <div class="ink-alert block error">
                                    <h4>Vaya, parece que hay un error</h4>
                                    <p>Por favor, introduce un nombre de usuario y clave correctos. Observa que ambos campos pueden ser sensibles a mayúsculas.</p>
                                </div>
                                {% for formulario in form %}
                                    {% if formulario.errors%}
                                        <div class="ink-alert block error">
                                            <h4>Vaya, parece que hay un error</h4>
                                            <p>{{ formulario.errors }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="large-50 medium-100 small-100">
                        <div class="space">
                            {% if auth %}
                                {% if not user.is_authenticated %}
                                    <fieldset class="column-group">
                                        {% for formulario in form %}
                                            <div class="control-group required validation">
                                                {{ formulario.label }}
                                            <div class="control">
                                                {{ formulario }}
                                            </div>
                                                <p class="tip">{{ formulario.help_text }}</p>
                                            </div>
                                        {% endfor %}
                                    </fieldset>
                                    {% ifnotequal palabra_clave 'resetear' %}
                                        <fieldset class="small">
                                            <a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a>
                                            -
                                            <a href="{% url 'listado_auditores' %}">Ver listado de auditores</a>
                                        </fieldset>
                                        <div>
                                            <input type="submit" value="Entrar" class="ink-button blue">
                                        </div>
                                    {% else %}
                                        <div>
                                            <input type="submit" value="Enviar" class="ink-button blue">
                                        </div>
                                    {% endifnotequal %}
                                {% elif formulario %}
                                    <fieldset class="column-group">
                                        {% for formulario in form %}
                                            <div class="control-group required validation">
                                                {{ formulario.label }}
                                            <div class="control">
                                                {{ formulario }}
                                            </div>
                                                <p class="tip">{{ formulario.help_text }}</p>
                                            </div>
                                        {% endfor %}
                                    </fieldset>
                                        <div>
                                            <input type="submit" value="Enviar" class="ink-button blue">
                                        </div>
                                {% else %}
                                    <div class="content-center">
                                        <h3 class="content-center"><a href="{% url 'perfil' %}">Revisa tu perfil</a></h3>
                                        <div class="column-group">
                                            <div class="large-33 content-center">
                                                <a href="{% url 'perfil' %}#educacion" style="text-decoration: none"><i class="icon-envelope icon-4x"></i><br />Educación</a>
                                            </div>
                                            <div class="large-33 content-center">
                                                <a href="{% url 'perfil' %}#laboral" style="text-decoration: none"><i class=" icon-briefcase icon-4x"></i><br />Laboral</a>
                                            </div>
                                            <div class="large-33 content-center">
                                                <a href="{% url 'perfil' %}#competencias" style="text-decoration: none"><i class="icon-bar-chart icon-4x"></i><br />Competencias</a>
                                            </div>
                                        </div>
                                        <div class="column-group">
                                            <div class="large-33 content-center">
                                                <a href="{% url 'perfil' %}#habilidades" style="text-decoration: none"><i class="icon-tasks icon-4x"></i><br />Habilidades</a>
                                            </div>
                                            <div class="large-33 content-center">
                                                <a href="{% url 'perfil' %}#otros_conocimientos" style="text-decoration: none"><i class="icon-gear icon-4x"></i><br />Otros conocimientos</a>
                                            </div>
                                            <div class="large-33 content-center">
                                                <a href="{% url 'perfil' %}#idioma" style="text-decoration: none"><i class="icon-flag icon-4x"></i><br />Idiomas</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif%}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if not user.is_authenticated %}
        <div class="space">
            <div class="box">
                <div class="space">
                    <section id="inscribirse">
                        <div class="column-group">
                            <div class="content-center">
                                <h2><a>¿Cómo me inscribo?</a></h2>
                            </div>
                            <div class="content-left gutters">
                                <br />
                                <p>Envíanos un correo solicitándonos ser Auditor acreditado por SUSCERTE al correo <img src="/main/static/images/correo_ra.png"> con tu Currículum Vitae adjunto en formato PDF y firmado electrónicamente.</p>
                            </div>
                            <br />
                            <br />
                            <div class="content-center">
                                <h2><a>¿Y luego?</a></h2>
                            </div>
                            <div class="content-left gutters">
                                <br />
                                <p>SUSCERTE te creará un usuario para que puedas <a href="{% url 'inicio' %}">ingresar</a>. Al crearse el usuario automáticamente se te enviará un mail con los datos de ingreso.</p>
                            </div>
                            <br />
                            <br />
                            <div class="content-center">
                                <h2><a>¿Cómo me acredito?</a></h2>
                            </div>
                            <div class="content-left gutters">
                                <br />
                                <p>Deberás cargar tu currículum a través del sistema una vez autenticado, luego se te citará a una entrevista y una evaluación para acreditarte. Una vez acreditado podrás consultarte en la lista de <a href="{% url 'listado_auditores' %}">auditores acreditados</a>.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% include 'footer.html' %} 

  </body>
</html>
{% endblock %}
